body{
    background: #2C2141;
    display:flex;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    
}

.main{
    border-radius: 16px;
    background: #f8f8f8;
    width: 624px;
    margin: 16px;
}